@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';

@font-face {
	font-family: Rubik;
	font-style: normal;
	font-optical-sizing: auto;
	font-weight: 300 900;
	font-display: swap;
	src: url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
}

@theme {
	--font-body: Rubik, sans-serif;

	--color-keppel: #44b097;
	--color-mint: #aff5bf;
	--color-jungle: #0a1d20;
	--color-clover: #549454;
	--color-silver: #d4d4dc;
	--color-moss: #2e503c;
}
